<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-tab-wrapper custom-dashboard-wrapper">
                <mat-tab-group>
                    <mat-tab label="Dashboard">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Total Device</div>
                                            <div class="dashboard-item-body">
                                                <span class="total-count">5<b>Devices</b></span>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Recent history</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Up Time</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Camera</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Important Links</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Electricity Used</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Routine</div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6 col-xs-1 col-xl-4">
                                    <mat-card>
                                        <div class="dashboard-item">
                                            <div class="dashboard-item-heading">Automation</div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Activity">Activity</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>