<div class="custom-modal-wrapper">
    <div class="modal-heading">Eco Mode</div>
    <div class="modal-body">
        <div class="eco-mode-icon">
            <i class="fas fa-leaf"></i>
        </div>
    </div>
</div>

<style>
    .eco-mode-icon {
        font-size: 60px;
        color: #8BC34A;
        position: relative;
        width: 120px;
        height: 120px;
        display: block;
        text-align: center;
        border-radius: 50%;
        padding: 6px;
        box-sizing: border-box;
        text-decoration: none;
        box-shadow: 0 10px 15px rgba(0,0,0,0.2);
        background: linear-gradient(0deg, #ddd, #fff);
        transition: .2s;
        margin: 0 auto;
        cursor: pointer;
    }
    .eco-mode-icon i {
        height: 100%;
        background: linear-gradient(0deg, #fff, #ddd);
        border-radius: 50%;
        font-size: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eco-mode-icon:active {
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
</style>