<div class="custom-page-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <h2 class="page-heading float-left">Roles<span class="sub-heading">Manage your family, Relatives, Rooms
                        (Hotel, Guest)</span></h2>
                <a (click)="createRole()" class="float-left add-button"></a>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <div class="option">
                    <ul class="d-flex justify-content-end">
                        <li>
                            <div class="search-wrapper" [ngClass]="searchStatus ? 'open-search' : 'close-search'">
                                <input type="text" #searchBox (keyup)="searching($event.target.value)">
                                <button mat-button (click)="searchEventHandler()"><i class="fas fa-search"></i>Search</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-table-wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="name">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef class="table-col-01"> Role Name </th>
                            <td mat-cell *matCellDef="let role"> <a class="role-link"
                                    routerLink="/role/{{role.id}}/0">{{role.name}}</a> </td>
                        </ng-container>

                        <ng-container matColumnDef="resources">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef class="table-col-02"> Role Resources
                            </th>
                            <td mat-cell *matCellDef="let role">
                                <div class="role-resources">
                                    <ul>
                                        <li><a matRipple matTooltip="5 Devices" matTooltipPosition="above" class="device">5D</a></li>
                                        <li><a matRipple matTooltip="2 Camera" matTooltipPosition="above"class="camera">2C</a></li>
                                        <li><a matRipple matTooltip="2 Sensors" matTooltipPosition="above"class="sensor">2S</a></li>
                                        <li><a routerLink="/role/{{role.id}}/1" matRipple matTooltip="Add Resources" matTooltipPosition="above"class="add-resources"><i class="fas fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef class="table-col-03"> Role Status
                            </th>
                            <td mat-cell *matCellDef="let role">
                                <mat-slide-toggle class="green small" [checked]="(role.status == 1) ? 'true' : 'false'"></mat-slide-toggle>
                                <!-- <span [ngClass]="(role.status == 1) ? 'active status-chip':'deactive status-chip'"><span *ngIf="role.status == 1; then active else deactive"></span> <ng-template #active>Active</ng-template><ng-template #deactive>Deactive</ng-template></span> -->
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef class="table-col-04"></th>
                            <td mat-cell *matCellDef="let role"> <button class="custom-table-btn"
                                    mat-button>Edit</button> </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef class="table-col-05"></th>
                            <td mat-cell *matCellDef="let role"> <button (click)="deleteRole()" class="custom-table-btn"
                                    mat-button>Delete</button> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>