.custom-menu {
    padding: 15px 35px;
    height: calc(100% - 200px);
    overflow: auto;
}
.custom-basic-user-information {
    height: 200px;
    background: #fbfbfb;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .user-photo {
        width: 100px;
        height: 100px;
        border-radius: 30%;
        background: #fff;
        margin: 0 auto;
        img {
            border-radius: 30%;
            width: 100px;
            height: 100px;
        }
    }
    .user-name {
        padding:10px 10px 5px;
        color: #3c3c3c;
        font-weight: 600;
        font-size: 14px;
    }
    .user-id {
        font-size: 12px;
        color: #848484;
    }
}

.custom-menu ul {
    padding-left: 0;
    margin: 0;
    li {
        display: block;
        margin: 10px 0;
        a {
            text-decoration: none;
            color: #9198B2;
            padding: 15px 10px;
            display: block;
            font-size: 16px;
            &:hover {
                background: rgba(0, 0, 0, 0.2);
                color: #676767;
            }
            .icon {
                margin-right: 10px;
                float: left;
                width: 23px;
            }
            .menu-text {
                float: left;
                width: calc(100% - 33px);
                b {
                    font-size: 12px;
                    display: block;
                    font-weight: 400;
                }
            }
        }
        .active {
            background: rgb(240, 240, 240);
        }
    }
}

.custom-side-menu-wrapper {
    height: 100%;
}