<div class="">
    <div class="custom-basic-user-information">
        <div class="user-photo">
            <span>Photo</span>
        </div>
        <div class="user-name">Suryansh</div>
    </div>
    <div class="custom-menu">
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
                <li><a routerLink="/add-device" routerLinkActive="active">Add Devices</a></li>
                <li><a routerLink="/devices" routerLinkActive="active">Devices</a></li>
                <li><a routerLink="/firmware-update" routerLinkActive="active">Update</a></li>
                <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
    </div>
</div>