<div class="custom-side-menu-wrapper">
    <div class="custom-basic-user-information">
        <div class="user-photo">
            <span>
                <img src="assets/big.jpg" alt="Suryansh">
            </span>
        </div>
        <div class="user-name">Suryansh Srivastava</div>
        <div class="user-id">@suryansh54</div>
    </div>
    <div class="custom-menu">
        <ul>
            <li><a name="home" matRipple routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"><span class="icon"><i
                            class="fas fa-box"></i></span><span class="menu-text">Dashboard</span></a></li>
            <li><a name="add-device" matRipple routerLink="/add-device" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-plus"></i></span><span class="menu-text">Add Devices</span></a></li>
            <li><a name="devices" matRipple routerLink="/devices" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-cubes"></i></span><span class="menu-text">Devices</span></a></li>
            <li><a name="group" matRipple routerLink="/group" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-layer-group"></i></span><span class="menu-text">Groups</span></a></li>
            <li><a name="group" matRipple routerLink="/routine" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-road"></i></span><span class="menu-text">Routine</span></a></li>
            <li><a name="group" matRipple routerLink="/automation" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-boxes"></i></span><span class="menu-text">Automation</span></a></li>
            <li><a name="account-and-security" matRipple routerLink="/account-and-security"
                    routerLinkActive="active"><span class="icon"><i class="fas fa-user-shield"></i></span><span
                        class="menu-text">Acount and Security</span></a></li>
            <li><a name="setting" matRipple routerLink="/setting" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-cog"></i></span><span class="menu-text">Setting</span></a></li>
            <li><a name="firmware-update" matRipple routerLink="/firmware-update" routerLinkActive="active"><span
                        class="icon"><i class="fas fa-cloud-download-alt"></i></span><span class="menu-text">
                        <span>Update</span> <b>Check for firmware update</b> </span></a></li>
            <li><a name="faq" matRipple routerLink="/faq" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-question-circle"></i></span><span class="menu-text">Help Center</span></a>
            </li>
            <li><a name="feedback" matRipple routerLink="/feedback" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-comment-alt"></i></span><span class="menu-text">Feedback</span></a></li>
            <li><a name="about" matRipple routerLink="/about" routerLinkActive="active"><span class="icon"><i
                            class="fas fa-info-circle"></i></span><span class="menu-text">About</span></a></li>
        </ul>
    </div>
</div>