.custom-menu {
    padding: 15px 35px;
    height: calc(100% - 250px);
    overflow: auto;
}
.custom-basic-user-information {
    height: 250px;
    background: #fbfbfb;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .user-photo {
        width: 100px;
        height: 100px;
        border-radius: 30%;
        background: #fff;
        margin: 10px auto 0px;
        img {
            border-radius: 30%;
            width: 100px;
            height: 100px;
        }
    }
    .user-name a{
        padding:10px 10px 5px;
        color: #3c3c3c;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        display: block;
    }
    .user-id a{
        font-size: 12px;
        color: #848484;
        text-decoration: none;
        display: block;
    }
}

.custom-menu ul {
    padding-left: 0;
    margin: 0;
    li {
        display: block;
        margin: 10px 0;
        a {
            text-decoration: none;
            color: #9198B2;
            padding: 15px 10px;
            display: block;
            font-size: 16px;
            &:hover {
                background: rgba(0, 0, 0, 0.2);
                color: #676767;
            }
            .icon {
                margin-right: 10px;
                float: left;
                width: 23px;
            }
            .menu-text {
                float: left;
                width: calc(100% - 33px);
                b {
                    font-size: 12px;
                    display: block;
                    font-weight: 400;
                }
            }
        }
        .active {
            background: rgb(240, 240, 240);
        }
        .logout {
            cursor: pointer;
        }
    }
}

.custom-side-menu-wrapper {
    height: 100%;
}


.information {
    background: linear-gradient(45deg, #00BCD4 0%, #4CAF50 100%);
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    ul {
        padding-left: 0;
        list-style: none;
        margin: 0;
        li {
            float: left;
            font-size: 12px;
            position: relative;
            &:last-child {
                &:before {
                    display: none;
                }
            }
            &:before {
                content: "|";
                position: absolute;
                right: -4px;
                top: 9px;
                color: rgba(255, 255, 255);
            }
            a {
                color: rgba(255, 255, 255);
                display: block;
                position: relative;
                text-decoration: none;
                padding: 10px 20px;
            }
        }
    }
}
