<div class="custom-page-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <h2 class="page-heading float-left">Automation<span class="sub-heading">2 Automation</span></h2>
                <a (click)="openDialog()" class="float-left add-button"></a>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <div class="option">
                    <ul class="d-flex justify-content-end">
                        <li>
                            <div class="search-wrapper" [ngClass]="searchStatus ? 'open-search' : 'close-search'">
                                <input type="text" #searchBox>
                                <button mat-button (click)="searchEventHandler()"><i class="fas fa-search"></i>Search</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
