<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-breadcrumb-wrapper">
                <ul>
                    <li><a><i class="fas fa-home"></i></a><span class="arrow-icon"><i class="fas fa-chevron-right"></i></span></li>
                    <li><a>Devices</a><span class="arrow-icon"><i class="fas fa-chevron-right"></i></span></li>
                    <li><a>Light</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>