.header-container {
    height: 50px;
    box-shadow:0 0 1px rgba(0, 0, 0, 0.5);
    background: #f9f9f9;
}
.footer-container {
    background: #fafafa;
    padding: 10px;
    text-align: center;
    height: 40px;
    display: none;
}
.body-container {
    height: calc(100vh - 50px);
}
.custom-body-container {
    height: 100%;
}
.custom-sidenav {
    background: #fff;
    width: 320px;
}
.mat-drawer-container{
    background: #fff;
}

.body-container.full-height {
    height: 100%;
    overflow-y: auto;
}

.common-header {
    .side-navigation-toggle-btn {
        position: fixed;
        top: 0;
        left: -8px;
        height: 50px;
        z-index: 999;
    }
}