<div class="header-container-wrapper">
  <div class="header-container">
    <app-header></app-header>
  </div>
</div>
<div class="body-container">
  <mat-drawer-container class="custom-body-container" autosize>
    <mat-drawer #drawer class="custom-sidenav" mode="push">
      <app-sidebar></app-sidebar>
    </mat-drawer>
  
    <div class="custom-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <div class="body-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </mat-drawer-container>
</div>
<div class="footer-container">
  <app-footer></app-footer>
</div>