.header-container {
    background: #0255E3;
    height: 50px;
}
.footer-container {
    background: #d8d8d8;
    padding: 10px;
    text-align: center;
    height: 40px;
}
.body-container {
    height: calc(100vh - 90px);
}
.custom-body-container {
    height: 100%;
}
.custom-sidenav {
    background: #fff;
    width: 300px;
}