.section-heading {
    padding-bottom: 10px;
    font-weight: 600;
    color: #6d6d6d;
    font-size: 14px;
}

.third-party-control-icons {
    ul {
        padding-left: 0;
        list-style: none;
        overflow: hidden;
        display: block;
        li {
            float: left;
            margin-right: 20px;
            a {
                width: 70px;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }
}