<div class="custom-page-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section>
                    <div class="section-heading">Device Information</div>
                    <div class="section-body">
                        
                    </div>
                </section>
                <section>
                    <div class="section-heading">Third party control</div>
                    <div class="section-body">
                        <div class="third-party-control-icons">
                            <ul>
                                <li>
                                    <a><img src="../../../../../assets/alexa.png"></a>
                                </li>
                                <li>
                                    <a><img src="../../../../../assets/google_home.png"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="section-heading">Others</div>
                    <div class="section-body">
                        
                    </div>
                </section>
                <section>
                    <div class="section-heading">Action</div>
                    <div class="section-body">
                        <div class="remove-device">
                            <button mat-stroked-button color="warn" (click)="removeDevice()">Remove device</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>