<div class="custom-page-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <h2 class="page-heading float-left">Groups<span class="sub-heading">10 Groups</span></h2>
                <a (click)="openDialog()" class="float-left add-button"></a>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <div class="option">
                    <ul class="d-flex justify-content-end">
                        <li>
                            <div class="search-wrapper" [ngClass]="searchStatus ? 'open-search' : 'close-search'">
                                <input type="text" #searchBox>
                                <button mat-button (click)="searchEventHandler()"><i class="fas fa-search"></i>Search</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-group-wrapper">
                    <ul>
                        <li>
                            <a>
                                <div class="group-item-wrapper">
                                    <div class="group-item-icons"><i class="fas fa-bed"></i><span class="number-devices">5 Devices</span></div>
                                    <div class="group-item-name">Bedroom</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="group-item-wrapper">
                                    <div class="group-item-icons"><i class="fas fa-bed"></i><span class="number-devices">2 Devices</span></div>
                                    <div class="group-item-name">Kitchen</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="group-item-wrapper">
                                    <div class="group-item-icons"><i class="fas fa-home"></i><span class="number-devices">12 Devices</span></div>
                                    <div class="group-item-name">Living</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>