/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(125, 125, 125, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
* { font-family: 'Open Sans', sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

.custom-page-gap {
    padding: 20px 0;
}
.page-heading {
    margin-top: 5px;
    font-weight: 100;
    margin-bottom: 0;
    .sub-heading {
        font-size: 12px;
        display: block;
        font-weight: 400;
        color: #a6a6a6;
    }
}
.option{
    ul {
        padding-left: 0;
        list-style: none;
        li {
            margin-left: 10px;
            button {
                color: #6a6a6a;
                font-size: 12px;
                font-weight: 600;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}


.custom-tab-wrapper {
    .mat-tab-labels {
        justify-content: center;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
        border-bottom: 0;
        .mat-tab-label-content {
            font-size: 12px;
            font-weight: 600;
        }
    }
    
    .mat-tab-nav-bar.mat-primary .mat-ink-bar,
    .mat-tab-group.mat-primary .mat-ink-bar {
        background: #0255e3;
        width: auto !important;
        left: auto !important;
    }
    .mat-tab-label {
        padding: 5px 10px!important;
        min-width: auto;
        height: auto !important;
        margin: 0 30px;
    }
    .mat-tab-label-container {
        margin: 20px;
    }
    .mat-tab-label.mat-tab-label-active {
        color: #2196F3;
        opacity: 1;
    }
}

.mat-select {
    font-weight: 600;
    font-size: 14px;
}

.dark-theme {
    .mat-radio-outer-circle {
        background: #282828;
        border: 0;
    }
    .mat-radio-inner-circle {
        background: #888585 !important;
    }
} 

.light-theme {
    .mat-radio-outer-circle {
        background: #d2d2d2;
        border: 0;
    }
    .mat-radio-inner-circle {
        background: #7b7b7b !important;
    }
}

/*-------------Dark theme styles--------| START ---*/
html #app .dark {
    p {
        color: #fff;
    }
    /*---------------Material overwrite-----------|START-------*/
    .mat-drawer-container {
        background:#282828;
    }
    .mat-card {
        background: #383838;
        box-shadow: 0 0 15px #252424;
    }
    .custom-tab-wrapper {
        .mat-tab-label {
            color: #fff;
            opacity: 1;
        }
        .mat-tab-label.mat-tab-label-active {
            color: #8bc34a;
            opacity: 1;
        }
    }
    .mat-progress-bar-fill::after {
        background-color: #8BC34A;
    }
    .custom-device-list {
        mat-card {
            &:before {
                background: #5f5c5c;
            }
        }
    } 
    .mat-slide-toggle-thumb {
        background-color: #383838;
    }
    mat-slide-toggle {
        .mat-slide-toggle-bar {
            background: #5f5c5c !important;
        }
    }
    /*---------------Material overwrite-----------|END-------*/

    /*---------------Common class overwrite-----------|START-------*/
    .text {
        color: #cecece;
    }
    .page-heading {
        color: #fff;
    }
    .option {
        ul {
            li {
                button {
                    color: #cecece;
                }
            }
        }
    } 
    /*---------------Common class overwrite-----------|END-------*/
    
    /*---------------Header overwrite-----------|START-------*/
    .header-container {
        background: #383838;
        border-color: #383838;
        .custom-header-menu {
            a {
                color: #fff;
            }
        }
        .custom-logo {
            color: white;
        }
    }
    /*---------------Header overwrite-----------|END---------*/
    
    /*---------------Side Navigation overwrite-----------|START-------*/
    .side-navigation-toggle-btn {
        color: white;
    }
    mat-drawer {
        .custom-basic-user-information {
            background: #282828;
            .user-name {
                color: #fff;
            }
            .user-id {
                color: #c1c1c1;
            }
        }
        .custom-menu {
            background: #2f2f2f;
            a {
                color: #fff;
            }
            .active {
                background:#282828;
            }
        }
    }
    /*---------------Side Navigation overwrite-----------|END---------*/

    /*---------------Dashboard overwrite-----------|START---------*/
    .dashboard-item {
        .dashboard-item-body {
            color: #fff;
            b {
                color: #fff;
            }
        }
    }
    /*---------------Dashboard overwrite-----------|END---------*/

    /*---------------Device overwrite-----------|START---------*/
    .device-item {
        .device-wrapper {
            .device-icon {
                color: #888888;
            }
        }
    }
    /*---------------Device overwrite-----------|END---------*/

    /*---------------Device Group overwrite-----------|START---------*/
    .custom-group-wrapper {
        a {
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            background: transparent;
            .group-item-wrapper {
                .group-item-icons {
                    color: #c3c3c3;
                    background: #383838;
                }
            }
        }
    }
    /*---------------Device Group overwrite-----------|END---------*/

    /*-----------------FAQ Accordion------------------|START---------*/
    .questions-wrapper {
        background: #383838;
        .mat-expansion-indicator:after {
            color: #adadad !important;
        }
        .question-group-wrapper {
            mat-expansion-panel-header {
                &:hover {
                    background-color: #6b6b6b !important;
                    mat-panel-title {
                        color: #ffffff;
                    }
                }
                
            }
        }
    }
    /*-----------------FAQ Accordion------------------|END---------*/
    .custom-account-and-security {
        .mat-expansion-panel {
            background: #383838;
        }
        .mat-expansion-indicator:after {
            color: #adadad !important;
        }
        mat-expansion-panel-header {
            .mat-expansion-panel-header-title {
                color: rgba(255, 255, 255, 0.87);
            }
            .mat-expansion-indicator::after,
            .mat-expansion-panel-header-description {
                color: rgba(255, 255, 255, 0.5);
            }
            &:hover {
                background-color: #6b6b6b !important;
                mat-panel-title {
                    color: #ffffff;
                }
            }
        }
    }
}

/*-------------Dark theme styles--------| END ---*/