/* You can add global styles to this file, and also import other style files */

[tabindex] {
    outline: 0;
}
/*----------------Animation-----------------------|START-----------*/
@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
/*----------------Animation-----------------------|END-----------*/

/*----------------------Custom Dropdown Style----------|START--------------*/
.custom-select-mode {
    width: 100%;
}

.custom-select-mode .mat-select-arrow {
    color: rgba(255, 255, 255, 0.8);
}

.custom-select-mode .mat-select-value {
    color: rgba(255, 255, 255, 0.8);
}

.custom-select-mode .mat-form-field-label-wrapper label {
    color: rgba(255, 255, 255, 0.8) !important;
}

.custom-select-mode .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0) !important;
}

.custom-select-mode .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
}

.custom-select-mode .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    background-color: rgba(255, 255, 255, 0) !important;
}

.custom-select-mode .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: rgba(255, 255, 255, 0.8) !important;
}
/*----------------------Custom Dropdown Style----------|END--------------*/

/*----------------Custom Grid-----------------------|START-----------*/
.custom-row {
    display: flex;
    [class*="custom-col"] {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .custom-col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .custom-col-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
/*----------------Custom Grid-----------------------|END-----------*/

/*----------------Notification CSS-----------------------|START-----------*/
.notify-block {
    background: #dfedf9;
    border: 1px solid #2196F3;
    border-left-width: 10px;
    padding: 10px 10px 8px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #404040;
    button {
        font-size: 12px;
        font-weight: 600;
        margin-left: 10px;
    }
    a {
        color: #404040;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        top: -1px;
        margin-right: 10px;
    }
}
/*----------------Notification CSS-----------------------|END-----------*/

.mat-dialog-container {
    padding: 0 !important;
    .modal-heading {
        padding: 18px 20px;
    }
    .modal-body {
        padding: 18px 20px;
    }
    .modal-footer {
        padding: 18px 20px;
    }
    a {
        outline: 0;
    }
}

/*----------------Profile image CSS Override-----------------------|START-----------*/
.user-image {
    display: inline-block;
}
.profile-image-wrapper {
    position: relative;
    border-radius: 30%;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 30%;
    }
    mat-spinner {
        width: 30px !important;
        height: 30px !important;
        margin: 0;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        svg {
            width: 30px !important;
            height: 30px !important;
            circle {
                stroke: #ffffff;
                stroke-width: 5% !important;
            }
        }
    }
    img {
        display: block;
        border-radius: 30%;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    }
}

/*----------------Profile image CSS Override-----------------------|END-----------*/

::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(125, 125, 125, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
* { font-family: 'Open Sans', sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

img {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.custom-page-gap {
    padding: 20px 0;
}
.page-heading {
    margin-top: 0px;
    font-weight: 100;
    margin-bottom: 20px;
    .sub-heading {
        font-size: 12px;
        display: block;
        font-weight: 400;
        color: #a6a6a6;
    }
}
.option{
    margin-top: 10px;
    ul {
        padding-left: 0;
        list-style: none;
        margin: 0;
        li {
            margin-left: 10px;
            button {
                color: #6a6a6a;
                font-size: 12px;
                font-weight: 600;
                height: 48px;
                i {
                    margin-right: 10px;
                }
            }
            .search-wrapper {
                position: relative;
                button {
                    position: absolute;
                    right: 0;
                    height: 48px;
                }
                input {
                    background-color: #ffffff;
                    -webkit-transition: all 100ms ease-in;
                    -moz-transition: all 100ms ease-in;
                    transition:all 100ms ease-in;
                    border: 1px solid #EBEBEB;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                    height: 48px;
                    outline: 0;
                    width: 400px;
                    padding: 10px 80px 10px 10px;
                }
            }
            .close-search {
                input {
                    visibility: hidden;
                    width:0;
                }
            }
            .open-search {
                input {
                    visibility: visible;
                    width:400px;
                }
            }
        }
    }
}

/*---------------------Modal Style----------|START---------*/
.custom-modal-wrapper {
    .modal-heading {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        color: #616161;
    }
    .modal-footer {
        margin-top: 10px;
    }
    .mat-form-field {
        width: 100%;
    }
    .modal-footer {
        .model-action-wrapper {
            text-align: right;
            .cancel {
                color: #989898;
            }
            .action-btn.normal {
                font-weight: 600;
                color: #3F51B5;
                margin-left: 10px;
            }
        }
    }
}



/*---------------------Modal Style----------|END-----------*/
.add-button {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #b4b4b4;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
    display: block;
    margin: 15px 20px;
    &:before {
        content: "";
        width: 1px;
        height: 20px;
        background: #b4b4b4;
        display: block;
        left: 50%;
        position: absolute;
        top: 10px;
    }
    &:after {
        content: "";
        width: 1px;
        height: 20px;
        background: #b4b4b4;
        display: block;
        left: 50%;
        position: absolute;
        top: 10px;
        transform: rotate(90deg);
    }
}
.float-left {
    float: left;
}

.custom-tab-wrapper {
    .mat-tab-labels {
        justify-content: center;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
        border-bottom: 0;
        .mat-tab-label-content {
            font-size: 12px;
            font-weight: 600;
        }
    }
    
    .mat-tab-nav-bar.mat-primary .mat-ink-bar,
    .mat-tab-group.mat-primary .mat-ink-bar {
        background: #0255e3;
        width: auto !important;
        left: auto !important;
    }
    .mat-tab-label {
        padding: 5px 10px!important;
        min-width: auto;
        height: auto !important;
        margin: 0 30px;
    }
    .mat-tab-label-container {
        margin: 20px;
    }
    .mat-tab-label.mat-tab-label-active {
        color: #2196F3;
        opacity: 1;
    }
}

.mat-select {
    font-size: 14px;
}

.dark-theme {
    .mat-radio-outer-circle {
        background: #282828;
        border: 0;
    }
    .mat-radio-inner-circle {
        background: #888585 !important;
    }
} 

.light-theme {
    .mat-radio-outer-circle {
        background: #d2d2d2;
        border: 0;
    }
    .mat-radio-inner-circle {
        background: #7b7b7b !important;
    }
}

/*-------------Loading------------------|START-----*/
.container {
    position: relative;
}
.custom-loading {
    position: absolute;
    width: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    circle {
        stroke: #a5a5a5;
    }
}
/*-------------Loading------------------|END-----*/

/*---------------Devices Page accordion-----------|START--------*/

.custom-device-accordion {
    width: 100%;
    .mat-expansion-indicator {
        &:after {
            color: #afafaf;
            top: -2px;
            position: relative;
        }
    }
    .mat-expansion-panel-body {
        padding: 0 0 16px;
    }
    .mat-expansion-panel-header {
        padding: 0 4px;
    }
    mat-expansion-panel {
        box-shadow: none;
        .mat-content {
            font-size: 12px;
            color: #737373;
            font-weight: 400;
            position: relative;
            z-index: 0;
            &:before {
                content: "";
                position: absolute;
                width: calc(100% - 15px);
                height: 1px;
                background: #e2e2e2;
                top: calc(50% + 2px);
            }
        }
        mat-panel-title {
            span {
                background: white;
                position: relative;
                z-index: 1;
                padding-right: 10px;
                color: #989898;
            }
        }
        mat-panel-title {
            position: relative;
            z-index: 9;
        }
    }
}

.custom-device-accordion .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: none;
}

.custom-device-accordion .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
/*---------------Devices Page accordion-----------|END--------*/

/*-------------Dark theme styles--------| START ---*/
html #app .dark {
    p {
        color: #fff;
    }
    /*---------------Material overwrite-----------|START-------*/
    .mat-drawer-container {
        background:#282828;
    }
    .mat-card {
        background: #383838;
        box-shadow: 0 0 15px #252424;
    }
    .custom-tab-wrapper {
        .mat-tab-label {
            color: #fff;
            opacity: 1;
        }
        .mat-tab-label.mat-tab-label-active {
            color: #8bc34a;
            opacity: 1;
        }
    }
    .mat-progress-bar-fill::after {
        background-color: #8BC34A;
    }
    .custom-device-list {
        mat-card {
            &:before {
                background: #5f5c5c;
            }
        }
    } 
    .mat-slide-toggle-thumb {
        background-color: #383838;
    }
    mat-slide-toggle {
        .mat-slide-toggle-bar {
            background: #5f5c5c !important;
        }
    }
    /*---------------Material overwrite-----------|END-------*/

    /*---------------Common class overwrite-----------|START-------*/
    .text {
        color: #cecece;
    }
    .page-heading {
        color: #fff;
    }
    .option {
        ul {
            li {
                button {
                    color: #cecece;
                }
                .search-wrapper {
                    input {
                        background-color: #383838;
                        border: 1px solid #383838;
                        color: #fff;
                    }
                }
            }
        }
    } 
    /*---------------Common class overwrite-----------|END-------*/
    
    /*---------------Header overwrite-----------|START-------*/
    .header-container {
        background: #383838;
        border-color: #383838;
        .custom-header-menu {
            a {
                color: #fff;
            }
        }
        .custom-logo {
            color: white;
        }
    }
    /*---------------Header overwrite-----------|END---------*/
    
    /*---------------Side Navigation overwrite-----------|START-------*/
    .side-navigation-toggle-btn {
        color: white;
    }
    mat-drawer {
        .custom-basic-user-information {
            background: #282828;
            .user-name {
                a {
                    color: #fff;
                }
            }
            .user-id {
                a {
                    color: #c1c1c1;
                }
            }
        }
        .custom-menu {
            background: #2f2f2f;
            a {
                color: #fff;
            }
            .active {
                background:#282828;
            }
        }
    }
    /*---------------Side Navigation overwrite-----------|END---------*/

    /*---------------Dashboard overwrite-----------|START---------*/
    .dashboard-item {
        .dashboard-item-body {
            color: #fff;
            b {
                color: #fff;
            }
        }
    }
    /*---------------Dashboard overwrite-----------|END---------*/

    /*---------------Device overwrite-----------|START---------*/
    .device-item {
        .device-wrapper {
            .device-icon {
                color: #888888;
            }
        }
    }
    /*---------------Device overwrite-----------|END---------*/

    /*---------------Device Group overwrite-----------|START---------*/
    .custom-group-wrapper {
        a {
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            background: transparent;
            .group-item-wrapper {
                .group-item-icons {
                    color: #c3c3c3;
                    background: #383838;
                }
            }
        }
    }
    .device-navigation {
        background: #383838;
    }
    /*---------------Device Group overwrite-----------|END---------*/

    /*-----------------FAQ Accordion------------------|START---------*/
    .questions-wrapper {
        background: #383838;
        .mat-expansion-indicator:after {
            color: #adadad !important;
        }
        .question-group-wrapper {
            mat-expansion-panel-header {
                &:hover {
                    background-color: #6b6b6b !important;
                    mat-panel-title {
                        color: #ffffff;
                    }
                }
                
            }
        }
    }
    /*-----------------FAQ Accordion------------------|END---------*/
    
    /*-----------------Routine Page------------------|START---------*/
    .routine-item {
        background: #383838;
        box-shadow: 0 0 10px #272727;
        color: #fff;
    }
    .custom-select-routine {
        a{
            box-shadow: 0 0 10px #060606;
        }
    }
    /*-----------------Routine Page------------------|END---------*/
    /*-------------Loading------------------|START-----*/
    .custom-loading {
        position: absolute;
        width: 100%;
        z-index: 9;
        background: rgba(255, 255, 255, 0.5);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        circle {
            stroke: #a5a5a5;
        }
    }

    .custom-loading {
        background: rgba(40, 40, 40, 0.7);
    }

    /*-------------Loading------------------|END-----*/
    /*---------------Devices Page accordion-----------|START--------*/
    .custom-device-accordion {
        .mat-expansion-panel {
            background: transparent;
            mat-panel-title {
                span {
                    background: #282828;
                }
            }
            .mat-content {
                &:before {
                    background: #5f5c5c;
                }
            }
        }
        .mat-expansion-indicator {
            &:after {
                color: #5f5c5c;
            }
        }
    }
    /*---------------Devices Page accordion-----------|END--------*/
}

/*-------------Dark theme styles--------| END ---*/




