.full-width {
	width: 100%;
}

.button-wrapper {
	text-align: right;
	margin-top: 10px;
	button {
		font-size: 16px;
		i {
			display: none;
			position: relative;
			top: -2px;
			margin-right: 10px;
		}
	}
	.loading {
		i {
			display: inline-block;
			animation: spin .7s infinite linear;
			-webkit-animation: spin .7s infinite linear;
		}
	}
}

.custom-login-signup {
	.custom-container-fluid {
		height: 100vh;
	}
	.logo {
		font-size: 25px;
		font-weight: 100;
		padding: 10px 30px;
		background: #232323;
		color: #fff;
		user-select: none;
		margin-bottom: 30px;
		float: right;
		background-image: linear-gradient(to right, #eb3449, #ee3f47, #f04946, #f25244, #f45b43);
		i {
			margin-right: 20px;
		}
	}

	.custom-row {
		overflow: hidden;
		padding: 0 !important;
		.custom-col {
			width: 50%;
			float: left;
			height: 100vh;
			padding: 0;
			overflow: auto;
			h1 {
				font-weight: 100;
				margin-bottom: 0;
			}
			.sub-heading {
				margin-top: 0;
				font-weight: 100;
				font-size: 12px;
				color: #868686;
			}
			.login {
				padding: 130px 60px 20px;
				.login-btn {
					background-image: linear-gradient(to right, #eb3449, #ee3f47, #f04946, #f25244, #f45b43);
					color: #fff;
				}
			}
			.sign-up {
				background: #F44336;
				height: 100%;
				background-image: linear-gradient(to right, #eb3449, #ee3f47, #f04946, #f25244, #f45b43);
				padding: 200px 60px 20px;
				.custom-or {
					color: #FDE8E8;
				}
				h1 {
					color: #fff;
				}
				.sub-heading {
					color: #FDE8E8;
				}
				.signup-btn {
					background-color: #fff;
					color: #333;
				}
			}
		}
	}
	.form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
		.input-form-wrapper {
			input {
				display: block;
				padding: 14px;
				width: 100%;
				text-indent: 5px;
				outline: 0;
				border: none;
				margin: 10px auto;
				background-color: #f7f2f2;
				border-radius: 2px;
			}
		}
		.custom-or {
			text-align: center;
			font-weight: 600;
			margin: 20px 0 0;
		}
		.custom-forget-password {
			font-size: 13px;
			cursor: pointer;
		}
		.oauth {
			margin: 20px 0;
			display: block;
			text-align: center;
			overflow: hidden;
			a {
				display: block;
				background: #F7F2F2;
				padding: 12px 40px 16px;
				text-decoration: none;
				color: #666;
				font-size: 11px;
				margin: 10px 0px;
				width: calc(50% - 8px);
				float: left;
				i {
					font-size: 19px;
					padding-right: 7px;
					position: relative;
					top: 1.5px;
				}
			}
			.button--facebook {
				margin-right: 8px;
				i {
					color: #3B5998;
				}
			}
			.button--google {
				margin-left: 8px;
				i {
					color: #db3236;
				}
			}
		}
	}
}

.custom-icons-bg {
    position: fixed;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    width: 100vw;
	height: 100vh;
	span {
		font-size: 300px;
	}
	.custom-home {
		position: absolute;
		color: #fff;
		bottom: 0;
		left: 30%;
		opacity: 0.1;
	}
}

.custom-login-signup {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

mat-progress-bar {
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%
}

.button-wrapper  {
	.custom-forget-password {
		float: left;
		padding: 8px 0;
		font-size: 13px;
		cursor: pointer;
	}
}

.no-top-gap {
	margin-top: 0;
}





