.custom-page-gap {
    padding: 20px 10%;
}
.custom-expansion-content mat-form-field {
    width: 40%;
    float: left;
    margin: 0 1%;
}
.custom-account-content {
    padding: 0 5%;
    margin: 0 auto;
}
.page-heading {
    margin-top: 0;
    font-weight: 100;
}