.no-works {
    opacity: 0.5;
    pointer-events: none;
}
.add-devices {
    color: #2196F3;
}
mat-card {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    &:before {
        content: "";
        left: -45px;
        top: -14px;
        background: #f0f0f0;
        display: block;
        border-radius: 100%;
        position: absolute;
        width: 120px;
        height: 120px;
    }
}
.device-item {
    min-height: auto;
    overflow: hidden;
    position: relative;
    .device-wrapper {
        display: flex;
        align-items: center;
        flex: 1 1 33.33%;
        &:before, &:after {
            content: "";
            clear: both;
            display: block;
        }
        .device {
            padding: 0 10px;      
            a {
                color: #1c1c1c;
                text-decoration: none;
            }     
        }
        .device-switch {
            text-align: right;
            flex: 0 0 70px;
            max-width: 70px;
        }
        .device-icon {
            font-size: 35px;
            line-height: 1.2;
            flex: 0 0 60px;
            max-width: 60px;
            color: #919191;
        }
        .device-name {
            font-size: 14px;
            font-weight: 100;
            flex: 0 0 calc(100% - 130px);
            max-width: calc(100% - 130px);
            .name {
                font-weight: 600;
            }
            .group {
                font-weight: 400;
                font-size: 12px;
                color: #b2b2b2;
            }
            .online{
                .device-status {
                    background:#8BC34A;
                    color: #fff;
                }
            }
            .offline{
                .device-status {
                    background:#fa7269;
                    color: #fff;
                }
            }
            .device-status {
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                background: #c5cae9;
                padding: 2px 6px;
                border-radius: 4px;
                margin-top: 4px;
            }
        }
    }
}

