<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-tab-wrapper">
                <mat-tab-group>
                    <mat-tab label="Device nearby">
                        <div class="device-nearby-search">
                            <mat-card>
                                <h4 class="device-searching-text text">Searching for devices... <span>It will take few
                                        minute</span></h4>
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </mat-card>
                        </div>
                    </mat-tab>
                    <mat-tab label="Add manually"> Add manually </mat-tab>
                    <mat-tab label="Scan QR"> Scan QR </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>