.custom-page-gap {
    padding: 20px 10%;
}
.page-heading {
    margin-top: 0;
    font-weight: 100;
}
.device-nearby-search {
    margin: 20px;
}
.device-searching-text {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    span {
        display: block;
        color: #8a8a8a;
        font-weight: 400;
        font-size: 12px;
        margin: 2px 0;
    }
}