<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="custom-logo">
                Home Automation
            </div>
        </div>
        <div class="col-4">
            <div class="search">
                <input type="text" class="search-input" placeholder="Search...">
            </div>
        </div>
        <div class="col-4">
            <div class="custom-header-menu d-flex justify-content-end">
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
                    <li><a href="/user/profile"><span class="header-profile-image"><img src="assets/photo.jpg"></span>Suryansh</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>