<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="custom-logo">
                Homee
            </div>
        </div>
        <div class="col-8">
            <div class="custom-header-menu d-flex justify-content-end">
                <ul>
                    <li>

                    </li>
                    <li class="custom-eco-mode"><a (click)="openDialog()" name="Eco mode"><i class="fas fa-leaf"></i>Eco Mode</a></li>
                    <li><a tabindex="0" name="account-and-security" [matMenuTriggerFor]="headerOption"><span
                                class="header-profile-image"><img src="assets/photo.jpg" alt="Suryansh"></span></a>
                        <mat-menu #headerOption="matMenu">
                            <ul class="custom-header-dropdown-menu">
                                <li mat-menu-item>
                                   <a>
                                    <div class="theme-selector">
                                        <mat-radio-group aria-label="Select a theme" (change)="selectTheme($event)">
                                            <mat-radio-button class="dark-theme" value="dark" matTooltip="Dark theme">
                                            </mat-radio-button>
                                            <mat-radio-button class="light-theme" value="light"
                                                matTooltip="Light theme">
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                   </a>
                                </li>
                                <li mat-menu-item>
                                    <a routerLink="/notification"><span class="icon"><i class="fas fa-bell"></i></span><span class="custom-badges" matBadge="4" matBadgeOverlap="false">Notification</span></a>
                                </li>
                                <li mat-menu-item>
                                    <a routerLink="/account-and-security"><span class="icon"><i class="fas fa-user-shield"></i></span>Acount and Security</a>
                                </li>
                                <li mat-menu-item>
                                    <a routerLink="/faq"><span class="icon"><i class="fas fa-question-circle"></i></span>Help Center</a>
                                </li>
                                <li mat-menu-item>
                                    <a routerLink="/feedback"><span class="icon"><i class="fas fa-comment-alt"></i></span>Feedback</a>
                                </li>
                                <li mat-menu-item>
                                    <a routerLink="/about"><span class="icon"><i class="fas fa-info-circle"></i></span>About</a>
                                </li>
                                <mat-divider></mat-divider>
                                <li mat-menu-item>
                                    <a class="logout" name="logout" title="Logout" (click)="logout()"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Log out</a>
                                </li>
                            </ul>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>