<div class="custom-page-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <h2 class="page-heading">FAQ<span class="device-count">Frequently Asked Questions</span></h2>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-1 col-xl-6">
                <div class="option">
                    <ul class="d-flex justify-content-end">
                        <li><button mat-button><i class="fas fa-search"></i>Search</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-section-1-wrapper">
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            Intiate Service request ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                    <div class="navigation">
                        <div class="icon">
                            <i class="fas fa-info"></i>
                        </div>
                        <div class="question">
                            How to add device ?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>