<div class="custom-container-fluid">
    <div class="device-navigation">
        <ul>
            <li>
                <a>
                    <span class="icon"><i class="fas fa-power-off"></i></span>
                    <span class="name">Power</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="fas fa-bolt"></i></span>
                    <span class="name">Electric</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="far fa-clock"></i></span>
                    <span class="name">Timer</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="fas fa-history"></i></span>
                    <span class="name">History</span>
                </a>
            </li>
            <li>
                <a routerLink="/device/setting/{{deviceId}}">
                    <span class="icon"><i class="far fa-edit"></i></span>
                    <span class="name">Edit</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="device-operation-area">

    </div>
    <div class="device-info">

    </div>
</div>