.camera-main-wrapper .col-6 .camera-wrapper {
    min-height: 300px;
    border-right: 1px solid #757575;
    border-bottom: 1px solid #757575;
    background: #383838;
    color: #fff;
}

.camera-main-wrapper .col-6:nth-child(2n) .camera-wrapper {
    border-right: 0;
}

.camera-main-wrapper .col-6:nth-last-child(1) .camera-wrapper,
.camera-main-wrapper .col-6:nth-last-child(2) .camera-wrapper {
    border-bottom: 0;
}
.camera-wrapper .camera-heading h3 {
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 100;
    color: #cacaca;
}