<div class="camera-main-wrapper">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="camera-wrapper">
                    <div class="camera-inner-wrapper">
                        <div class="camera-heading">
                            <h3>Camera 01</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="camera-wrapper">
                    <div class="camera-inner-wrapper">
                        <div class="camera-heading">
                            <h3>Camera 02</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="camera-wrapper">
                    <div class="camera-inner-wrapper">
                        <div class="camera-heading">
                            <h3>Camera 03</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="camera-wrapper">
                    <div class="camera-inner-wrapper">
                        <div class="camera-heading">
                            <h3>Camera 04</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>